.return-step-popup {
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  box-shadow: 0 1px 4px 0.1px #bbbbbb;

  &__bottom {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button-cancel,
  &__button-agree {
    padding: 4px 10px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  &__button-cancel {
    background-color: #68a3fd;
  }

  &__button-agree {
    background-color: #ff4444;
  }
}
